body {
    background-color: #D8F2EA;
}
/* Header */
h1 {
  text-align: center;
  margin-top: 350px;
  font-size: 50px;

}

/* Intro page */

.infoButton {
  width:  200px;
  height: 30px;
  margin-left: 500px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  font-weight: bold;

}
.startButton {
  width:  200px;
  height: 30px;
  margin-right: 500px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  font-weight: bold;
}


.infoButton:hover {
  background-color: navy;
  color: white;
  width: 200px;
  height: 30px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px black;
  outline: none;
}
.startButton:hover {
  background-color: navy;
  color: white;
  width: 200px;
  height: 30px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  outline: none;
}

/* Index page */
h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Table */
.Sudoku_box {
  border: 2px solid grey;
  width: 500px;
  height: 500px;
  margin-left: 450px;

}

/* Border for tables */
.TopBox1, .TopBox2, .TopBox3, .MidBox1, .MidBox2, .MidBox3, .BottomBox1, .BottomBox2, .BottomBox3 {
  border: 2px solid grey;
}
#InnerBox {
  border: 2px solid grey;
  width: 54px;
  height: 50px;
  text-align: center;
  
}

.minibox {
  margin: 2px 2px;
}
.TopBox1, .TopBox3, .MidBox2, .BottomBox1, .BottomBox3 {
  background-color: lightgrey;
}
.UserInput {
  background-color: lightgrey;
  width: 50px;
  height: 50px;
}
.UserInput1 {
  background-color: white;
  width: 50px;
  height: 50px;
}

/* Index page buttons  */
.home {
  width:  200px;
  height: 30px;
  margin-left: 400px;
  margin-top: 30px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  font-weight: bold;
}
.score {
  width:  200px;
  height: 30px;
  margin-top: 30px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  font-weight: bold;
}
.home:hover {
  background-color: navy;
  color: white;
  width: 200px;
  height: 30px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  outline: none;

}
.score:hover {
  background-color: navy;
  color: white;
  width: 200px;
  height: 30px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  outline: none;
}
.submit {
  width:  200px;
  height: 30px;
  margin-right: 400px;
  margin-top: 30px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  font-weight: bold;
}
.submit:hover {
  background-color: navy;
  color: white;
  width: 200px;
  height: 30px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  outline: none;
}

/* Correct colour for input */
.correct {
  color: green;
}
.wrong {
  color: red;
}
